@import 'variable';

* {
  box-sizing: border-box;
}

html {
  font-family: PingFangSC, "PingFang SC", "Helvetica Neue", -apple-system, Arial, sans-serif;
  font-size: $main-font;
  font-weight: 300;
  color: $main-color;
}

body {
  padding: 0;
  margin: 0;
  min-width: 1024px;
}

ul,li{
  padding:0;margin:0;list-style:none
}